
.contacts{
  background-image: url("../images/Property 1=MacBook Pro 16_ - 1.png") ;
  padding-bottom: 3rem;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  .contacts__title{
    font-family: 'Vollkorn',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 178px;
    color: #161313;
    opacity: 0.05;
    z-index: -1;
  }
    .contacts__subtitle{
        font-family: 'Work Sans', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: -0.04em;
        color: #161313;

    }
  .contacts__phone{
    display: flex;

  }
  .contacts__email{
    display: flex;
  }


}

