@charset "UTF-8";
.container {
  width: 68.23rem;
  margin: 0 auto;
}

body {
  background: url("/images/eclips1.png") no-repeat top, url("/images/eclipps.png") center no-repeat, #FAFAFA;
}

.header .navigation-bar {
  display: flex;
  height: 3em;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  background-color: white;
  border-radius: 75px;
}
.header .navigation-bar .registration a {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  font-family: "Gilroy", sans-serif;
  padding-right: 1em;
}
.header .navigation-bar .registration a:hover {
  color: #F15525;
  transition: 0.3s ease;
}
.header .navigation-bar button {
  background-color: #F15525;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  border: none;
  width: 5rem;
  height: 2.1rem;
  font-size: 18px;
  border-radius: 82px;
  justify-content: center;
  align-items: center;
  left: 438px;
  top: 218px;
  transition: 0.5s ease;
  font-size: 0.5rem;
  font-weight: normal;
}
.header .navigation-bar button:hover {
  background-color: #38BFF2;
}
.header .navigation-bar li {
  list-style: none;
  margin-right: 20px;
  display: inline-block;
}
.header .navigation-bar li a {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  font-family: "Gilroy", sans-serif;
}
.header .navigation-bar li a:hover {
  color: #F15525;
  transition: 0.3s ease;
}
.header .menu {
  padding: 0.5em;
  padding-right: 3rem;
  margin-right: 15rem;
}
.header .main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}
.header .main-header h1 {
  color: #000;
  font-size: 2em;
  font-weight: normal;
  font-family: "Gilroy SemiBold", Serif, serif;
  font-size: 2.3rem;
  font-weight: bold;
  font-family: "Gilroy SemiBold", Serif, serif;
  margin-right: 1em;
}
.header .main-header p {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 23px;
  color: #22253B;
}
.header .main-header span {
  font-weight: normal;
  font-size: 3rem;
  color: #F15525;
}
.header .main-header .main-header__image {
  margin-top: 3rem;
}
.header .main-header .main-header__text {
  width: 50%;
}
.header .main-header .main-header__text h1 {
  color: #000;
  font-size: 2em;
  font-weight: normal;
  font-family: "Gilroy SemiBold", Serif, serif;
  font-size: 3em;
  margin-bottom: 0.5em;
}
.header .main-header .main-header__text p {
  font-size: 1.2em;
  font-family: "Gilroy", sans-serif;
  color: #000;
  margin-bottom: 1em;
}
.header .main-header button {
  background-color: #F15525;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  border: none;
  width: 22rem;
  height: 3.5rem;
  font-size: 18px;
  border-radius: 82px;
  justify-content: center;
  align-items: center;
  left: 438px;
  top: 218px;
  transition: 0.5s ease;
  font-weight: normal;
}
.header .main-header button:hover {
  background-color: #38BFF2;
}

main {
  background: #ffffff;
}
main .title {
  color: #000;
  font-size: 2em;
  font-weight: normal;
  font-family: "Gilroy SemiBold", Serif, serif;
  text-align: center;
  font-weight: bolder;
  color: #22253B;
  font-size: 2.7rem;
}
main .colorful {
  padding: 0.8rem 2rem;
  display: inline-block;
  background-color: #F15525;
  border: none;
  margin: 0.5rem;
  border-radius: 44px;
  color: #fff;
  font-family: "Gilroy SemiBold", Serif, serif;
}
main .main-info {
  display: flex;
  background-color: #EAF2F5;
  justify-content: space-evenly;
  padding: 1rem 3rem;
  border: none;
  border-radius: 3rem;
}
main .main-info .main-info__text {
  padding-top: 4rem;
}
main .main-info span {
  font-family: "Gilroy SemiBold", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  color: #22253B;
  padding-top: 1rem;
}
main .main-info img {
  width: 100%;
  height: 100%;
}

.about {
  padding-bottom: 3rem;
  width: 100%;
  background-color: #fff;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}
.about .about-title {
  color: #22253B;
  font-size: 2em;
  font-weight: normal;
  font-family: "Gilroy SemiBold", Serif, serif;
  display: flex;
  justify-content: center;
}
.about .about-cards {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  grid-gap: 27px;
  gap: 27px;
}
.about .about-cards .about-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 1.8rem;
  width: 12rem;
  height: 10rem;
  text-align: center;
  background-color: #eaf2f5;
  border-radius: 30px;
}
.about .about-cards .about-card h3 {
  font-family: "Gilroy SemiBold", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  margin: 0.5rem;
}
.about .about-cards .about-card p {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}

.presentation {
  padding-bottom: 5rem;
  padding-top: 3rem;
}
.presentation .presentation-video {
  height: 30rem;
  display: flex;
  justify-content: center;
  background: url("/images/💻  Macbook.png") no-repeat center;
}
.presentation .start-education {
  margin-left: 18rem;
  margin-top: 2rem;
  display: flex;
  width: 31.8rem;
  height: 5.47rem;
  border-radius: 110px;
  border: none;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  text-align: center;
}
.presentation .start-education button {
  background-color: #F15525;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  border: none;
  width: 13rem;
  height: 4rem;
  font-size: 18px;
  border-radius: 82px;
  justify-content: center;
  align-items: center;
  left: 438px;
  top: 218px;
  transition: 0.5s ease;
}
.presentation .start-education button:hover {
  background-color: #38BFF2;
}
.presentation .start-education .text {
  width: 15rem;
  font-family: "Manrope", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #22253B;
}
.presentation .presentation-info {
  width: 100%;
  height: 22rem;
  background-color: #ffffff;
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
}
.presentation .presentation-info .vertical-line {
  border-right: 1px solid #EAF2F5;
  margin-top: 4rem;
  height: 15rem;
  vertical-align: center;
}
.presentation .presentation-info .big-number {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 77px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #38BFF2;
}
.presentation .presentation-info .presentation-card {
  width: 15rem;
}
.presentation .presentation-info .presentation-card h3 {
  font-family: "Gilroy SemiBold", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 30px;
  color: #22253B;
}
.presentation .presentation-info .presentation-card p {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #22253B;
}
.presentation .presentation-head {
  text-align: center;
}
.presentation .presentation-title {
  justify-content: center;
  text-align: center;
}
.presentation .presentation-title h5 {
  padding-left: 15rem;
  display: flex;
  justify-content: center;
  width: 37rem;
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.presentation .title {
  color: #22253B;
  font-size: 2em;
  font-weight: normal;
  font-family: "Gilroy SemiBold", Serif, serif;
  font-size: 2.7rem;
  font-weight: 600;
}

.support {
  background: #fff;
}
.support .support-cards {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  grid-gap: 2rem;
  gap: 2rem;
}
.support .support-cards img {
  width: 15rem;
  height: 12rem;
}
.support .support-cards .support-card {
  display: flex;
  height: 13rem;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  text-align: center;
  background-color: #eaf2f5;
  border-radius: 30px;
}
.support .support-cards .support-card h3 {
  font-family: "Gilroy SemiBold", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 30px;
  color: #22253B;
}
.support .support-cards .support-card p {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 25px;
  color: #22253B;
  margin-top: 0;
}
.support .support-card__text {
  width: 37rem;
  text-align: start;
}

.background {
  width: 100%;
  padding: 3rem 0;
  background-color: #fff;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

.price-courses .reminder {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 12rem;
  border: none;
  border-radius: 30px;
  background: #EAF2F5;
}
.price-courses .reminder .button {
  background-color: #F15525;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  border: none;
  width: 18rem;
  height: 4.2rem;
  font-size: 18px;
  border-radius: 82px;
  justify-content: center;
  align-items: center;
  left: 438px;
  top: 218px;
  transition: 0.5s ease;
}
.price-courses .reminder .button:hover {
  background-color: #38BFF2;
}
.price-courses .reminder p {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #22253B;
}
.price-courses .reminder .reminder-text {
  width: 35rem;
}
.price-courses .price-courses__table {
  background: #ffffff;
  border: none;
  border-radius: 30px;
  width: 100%;
}
.price-courses .price-courses__table table {
  border-spacing: 0;
}
.price-courses .price-courses__table table tbody {
  width: 100%;
}
.price-courses .price-courses__table .table-box {
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  border-radius: 10px;
}
.price-courses .price-courses__table .table-box:nth-child(even) {
  background-color: #f2f2f2;
  border-radius: 10px;
}
.price-courses .price-courses__table td {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #22253B;
  padding: 1rem 1.1rem 0.9rem;
  collapse: none;
  width: 46%;
}
.price-courses .price-courses__table .blue-letter {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  color: #38BFF2;
}
.price-courses .price-courses__cards h1 {
  text-align: center;
}
.price-courses .price-cards {
  display: grid;
  grid-template-columns: minmax(auto, 391px) minmax(auto, 252px) minmax(auto, 380px);
  margin-bottom: 30px;
  grid-column-gap: 69px;
  column-gap: 69px;
}
.price-courses .price-cards .price-card {
  display: flex;
  justify-content: start;
  align-items: center;
}
.price-courses .price-cards img {
  margin-right: 1rem;
}
.price-courses .price-cards p {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: #22253B;
}
.price-courses .title {
  color: #22253B;
  font-size: 2em;
  font-weight: normal;
  font-family: "Gilroy SemiBold", Serif, serif;
  font-weight: 600;
}

.footer-logo {
  width: 35rem;
  justify-content: start;
  align-items: center;
  display: flex;
}
.footer-logo a {
  font-size: 2rem;
  margin: 1rem;
}
.footer-logo p {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 19px;
  color: #8E8E8E;
  margin-left: 1rem;
}
.footer-logo img {
  height: 1.3rem;
}

.privacy {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.privacy a {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 4rem;
  color: #8E8E8E;
}
.privacy p {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 4rem;
  color: #8E8E8E;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  margin-top: 3rem;
}
.footer .left {
  margin-left: 10rem;
}
.footer .contacts p {
  font-family: "Gilroy", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  color: #8E8E8E;
}
.footer .info-course {
  line-height: 2rem;
}
.footer li {
  list-style: none;
  margin-right: 20px;
}
.footer li a {
  text-decoration: none;
  color: #000;
  line-height: 1.4rem;
  font-size: 13px;
  font-family: "Gilroy", sans-serif;
}
.footer li a:hover {
  color: #F15525;
  transition: 0.3s ease;
}

/*# sourceMappingURL=style.css.map */
